$color_blue:#33c2db;
.slick-dots {
    bottom: -45px;
    li {
        button {
            &:before {
                color: #dbdbdb;
            }
        }
    }
    li.slick-active {
        button {
            &:before {
                color: $color_blue;
            }
        }
    }
}

.slick-prev,
.slick-next {
    width: 30px;
    height: 30px;
    &:before {
        color: black;
        font-size: 30px;
    }
}

button {
    background-color: white;
    color: #e57e00;
    border: 1px solid #e57e00;
    padding: 5px 15px;
    margin: 10px 0;
    transition: all .5s ease;
    &:hover {
        color: white;
        background-color: #e57e00;
        transition: all .5s ease;
    }
}

hr {
    border-top: 3px solid #e57e00;
    width: 50%;
    margin: 10px auto;
}

a {
    color: #454545;
    &:hover {
        color: rgb(2, 2, 2);
        text-decoration: none;
    }
}

.top_bar {
    a {
        color: #000000;
        font-weight: 700;
        font-size: .7em;
        i {
            color: $color_blue;
            font-size: 1.4em;
        }
    }
    button {
        width: 100%;
        background-color: #e57e00;
        color: white;
        font-size: 18px;
        font-weight: 700;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        .navbar-toggler-icon {
            width: 100%;
            height: 100%;
            color: white;
        }
    }
}

nav {
    background: $color_blue;
    button {
        border: 2px solid white;
    }
    ul {
        li {
            a {
                font-size: .7em;
                i {
                    font-size: 1.5em;
                }
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .l_r {
        border-right: 2px solid #ec8116;
    }
    .l_l {
        border-left: 2px solid #ec8116;
    }
    h1 {
        text-align: center;
        color: #fff;
        font-weight: 300;
        span {
            font-weight: 700;
        }
    }
    h2 {
        text-align: center;
        color: #478AB7;
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .teaser {
        height: 300px;
        background-size: cover;
        font-size: 28px;
        font-weight: 700;
    }
    .t_org {
        background-image: url('../img/marcas_slider_3.jpg');
        p,
        a {
            color: #3291bd;
            margin: 0;
            -webkit-text-stroke: 1px white;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .t_mar {
        background-image: url('../img/need_item_44.jpg');
        p,
        a {
            color: #fd311b;
            margin: 0;
            -webkit-text-stroke: 1px white;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .overlay {
        background: linear-gradient(0deg, #020000b0 50%, #0000005c 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    img {
        width: 100%;
    }
    p.title {
        font-size: 22px;
        text-align: center;
        color: #4789b7;
    }
}

.main_banner {
    background-image: url('../img/marcas_slider_3.jpg');
    height: 60vh;
    background-size: cover;
    background-position: center;
}

.aliados {
    p.title {
        font-size: 1.4em;
        color: $color_blue;
        font-weight: 700;
        text-align: center;
    }
    hr {
        margin: 15px auto;
    }
    p.text {
        text-align: center;
        color: #454545;
        font-size: 1em;
        padding-bottom: 15px;
    }
    img {
        width: 90%;
        margin: 0 auto;
        display: table;
    }
}

.contact {
    background: url('../img/back_contact.jpg'), #f9f9f9;
    background-size: 45% 100%;
    background-repeat: no-repeat;
    background-position: right;
    p.title {
        font-size: 1.4em;
        color: $color_blue;
        font-weight: 700;
        text-align: center;
    }
    p.text {
        font-size: 1em;
        color: #454545;
        font-weight: 400;
    }
    button {
        background-color: #e57e00;
        color: white;
        transition: all .5s ease;
        &:hover {
            background-color: white;
            color: #e57e00;
            transition: all .5s ease;
        }
    }
}

footer {
    background-color: #212321;
    p {
        text-align: center;
        color: white;
        margin: 0;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: #e57e00;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .contact {
        background: #f9f9f9;
        background-position: right;
    }
}

@media (max-width: 768px) {
    .main {
        height: auto;
    }
}

@media (max-width: 767px) {
    .main {
        .l_r {
            border-right: none;
        }
        .l_l {
            border-left: none;
        }
        h1,
        h3 {
            padding: 10px 0;
        }
        .p-5 {
            padding: 1rem!important;
        }
    }
}