nav {
    i {
        background: #f3f3f5;
        font-size: 25px;
        border-radius: 50px;
        padding: 15px;
    }
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .l_r {
        border-right: 2px solid #ec8116;
    }
    .l_l {
        border-left: 2px solid #ec8116;
    }
    h1 {
        text-align: center;
        font-size: 1.5rem;
        color: #478AB7;
    }
    h3 {
        text-align: center;
        font-size: 1rem;
        color: #478AB7;
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .teaser {
        height: 300px;
        background-size: cover;
        font-size: 28px;
        font-weight: 700;
    }
    .t_org {
        background-image: url('../img/marcas_slider_3.jpg');
        p,
        a {
            color: #3291bd;
            margin: 0;
            -webkit-text-stroke: 1px white;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .t_mar {
        background-image: url('../img/need_item_44.jpg');
        p,
        a {
            color: #fd311b;
            margin: 0;
            -webkit-text-stroke: 1px white;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .overlay {
        background: linear-gradient(0deg, #0200009e 30%, #00000044 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

footer {
    background-color: #B2B2B2;
    p,
    a {
        color: white;
        margin: 5px 0;
        &:hover {
            text-decoration: none;
        }
    }
    .form-group {
        margin: 0;
    }
    i {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .main {
        height: auto;
    }
}

@media (max-width: 767px) {
    .main {
        .l_r {
            border-right: none;
        }
        .l_l {
            border-left: none;
        }
        h1,
        h3 {
            padding: 10px 0;
        }
        .p-5 {
            padding: 1rem!important;
        }
    }
}